*.exe
*.wav
*.ogg
*.mp3
/256px-Google_voice.svg.ico
/mzl.rnsnwokc_s.jpg
/voice_icon.jpg
/256px-Google_voice.svg.png
/AV-Voice-Changer-Software.png
/mzl.rnsnwokc.png
/voice-big-icon-trans.png
*.pcm
*.amr
*.pyc
/*.xml
/*.sql
/*.db
/info.txt
/*.m4a
